@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* header  */
.logo-name {
    background-color: rgba(10, 145, 255, 0.705);
}

.name {
    color: rgb(85, 24, 165);
}

/* navbar  */
.nav-item {
    color: rgba(0, 0, 0, 0.527);
}



.author-name {
    font-size: 20px;
}

.author {
    width: 70px;
    height: 70px;
}

.view {
    color: black;
}

.nav-link:active {
    background-color: rgb(57, 119, 252);
}

.modal-author {
    width: 70px;
    height: 70px;
}